{% extends "base.html" %}

{% block content %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var firstTextInput = document.querySelector('input[type="text"]');
        if (firstTextInput) {
            firstTextInput.focus();
        }
    });
</script>
<div class="center">
     <form method="post" autocomplete="off">
        {% csrf_token %}
        {{ translation }}
        {% for field in form %}
         <p class="center">
             {{ field }}
         </p>
        {% endfor %}
        <button type="submit">Submit</button>
    </form>
</div>

{% endblock %}