{% extends "base.html" %}

{% block content %}
<div class="center">
  <h2>List of Irregular Verbs Available</h2>
  <ol>
    {% for verb in verbs %}
      <li
        {% if verb.memory_score <= 0 %}
          class="low-score"
        {% elif verb.memory_score <= 5 %}
          class="medium-score"
        {% else %}
          class="high-score"
        {% endif %}
      >
        <a href="{% url 'verbapp:verb_edit' verb.id %}">
          {{ verb.base }} ({{ verb.translation }})
        </a> - {{ verb.past_simple }} - {{ verb.past_participle }}
      </li>
    {% empty %}
      <li>No verbs found.</li>
    {% endfor %}
  </ol>
</div>
{% endblock %}