input[readonly] {
    background-color: #e0e0e0;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    cursor: not-allowed;
    text-align: center;
}

.center {
    text-align: center;
    width: 50%;
    margin: auto;
}

form {
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-top: 10%; /* Ensure this is not overridden */
}

form input {
    display: block;
    width: calc(100% - 40px);
    margin: 10px auto;
    padding: 10px;
}

input.error-input {
    background-color: #ffb2a6;
}

input.correct-input {
    background-color: #a5d6a7;
}

input {
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    text-align: center;
}

@media (max-width: 768px) {
    form {
        padding: 20px;
        margin-top: 20%; /* Adjusted for smaller screens */
    }

    form input {
        width: calc(100% - 20px);
    }
}