<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Irregular Verbs Trainer{% endblock %}</title>
</head>
<body>
    <header>
        <a href="{% url 'index' %}">Home</a>
        <a href="{% url 'verbapp:verb_list' %}">Verb List</a>
        <a href="{% url 'verbapp:trainer' %}">Trainer</a>
        <a href="{% url 'verbapp:verb_add' %}">Add Verb</a>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer></footer>
</body>
</html>