<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Irregular Verbs Trainer{% endblock %}</title>
    {% load static %}
    {% load compress %}
    {% compress css %}
    <link rel="stylesheet" type="text/css" href="{% static 'verbapp/css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'verbtrainer/css/styles.css' %}">
    {% endcompress %}
</head>
<body>
    <header class="header">
        <div class="container">
            <a href="{% url 'index' %}">Home</a>
            <a href="{% url 'verbapp:verb_list' %}">Verb List</a>
            <a href="{% url 'verbapp:trainer' %}">Trainer</a>
            <a href="{% url 'verbapp:verb_add' %}">Add Verb</a>
            <div class="auth-pages">
                {% if user.is_authenticated %}
                    <a href="{% url 'accounts:logout' %}">Sign Out</a>
                {% else %}
                    <a href="{% url 'accounts:register' %}">Sign Up</a>
                    <a href="{% url 'accounts:login' %}">Sign In</a>
                {% endif %}
            </div>
        </div>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer></footer>
</body>
</html>